openapi: 3.0.3
info:
  title: Foundry Agents (proxied)
  description: |
    APIM facade for the Microsoft Foundry Agents v1 surface, used by the
    LangGraph orchestrator. The actual Foundry endpoint sits behind a private
    endpoint inside the APIM VNET (`002-ai-poc-private`).
  version: 2025-05-15-preview
servers:
  - url: https://ai-gateway-apim-poc-my.azure-api.net/foundry/agents
security:
  - apimKey: []
paths:
  /threads:
    post:
      operationId: createThread
      summary: Create a new conversation thread.
      responses:
        "200": { description: Thread created }
  /threads/{thread_id}/messages:
    post:
      operationId: addMessage
      summary: Add a user message to a thread.
      parameters:
        - { in: path, name: thread_id, required: true, schema: { type: string } }
      responses: { "200": { description: ok } }
    get:
      operationId: listMessages
      parameters:
        - { in: path, name: thread_id, required: true, schema: { type: string } }
      responses: { "200": { description: ok } }
  /threads/{thread_id}/runs:
    post:
      operationId: startRun
      parameters:
        - { in: path, name: thread_id, required: true, schema: { type: string } }
      responses: { "200": { description: ok } }
  /threads/{thread_id}/runs/{run_id}:
    get:
      operationId: getRun
      parameters:
        - { in: path, name: thread_id, required: true, schema: { type: string } }
        - { in: path, name: run_id,    required: true, schema: { type: string } }
      responses: { "200": { description: ok } }
components:
  securitySchemes:
    apimKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
